type hal_vibrator_7570, domain, coredomain;
hal_server_domain(hal_vibrator_7570, hal_vibrator)

type hal_vibrator_7570_exec, exec_type, file_type;
init_daemon_domain(hal_vibrator_7570)

allow hal_vibrator_7570 sysfs:file rw_file_perms;
allow hal_vibrator_7570 sysfs_vibrator:file rw_file_perms;
